[submodule "others/nvim"]
	path = others/nvim
	url = git@github.com:tomaszbawor/tbawor-neovim-configuration.git
[submodule "others/doom"]
	path = others/doom
	url = git@github.com:tomaszbawor/doom-config.git
